   
<div class="row">
    <div class="col-md-4" >
    </div> 
    <div class="col-md-4" >
    </div> 
    
    <div class="col-md-4">
      <div class="panel panel-default" style="background:url('') no-repeat center center;">
        <div class="panel-body">
          <div class="page-header">
            <h3>Login </h3>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div align="center">
              <img src=<%= asset_path 'sbsfid4537dif.png' %> >
             </div>
                      <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>  

             <div class="field">
              <%= f.label :email %><br />
              <div class="input-group">
                 <span class="input-group-addon">
                 <span class="glyphicon glyphicon-user"></span></span>
                 <%= f.email_field :email, autofocus: true ,:class=>"form-control",placeholder: 'Email'%>
              </div>
             </div>
              <div class="field">
              <%= f.label :password %><br />
                 <div class="input-group">
                   <span class="input-group-addon">
                  <span class="glyphicon glyphicon-asterisk"></span></span>
                  <%= f.password_field :password, autocomplete: "off",:class=>"form-control" ,placeholder: 'Password'%>
                  </div>
               </div>
               <% if devise_mapping.rememberable? -%>
               <div class="field">
               <%= f.check_box :remember_me %>
               <%= f.label :remember_me %>
               </div>
               <% end -%>
               <div class="actions", align="right">
                  <%= f.submit "Log in" ,:class=>"btn btn-primary"%>
               </div>
            <% end %>
      </div>
    </div>
   </div>
</div>


<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
</div>
