		 <form method="post" action="/quiz/create?course_id=<%=course%>"  >
		 	<textarea type="text" name="mcq_counter" id="counter1" value="0" hidden></textarea>
    <div class="container-fluid" >

	<div class="row">


		<div class="col-md-8">
		     <div class="panel panel-default">
		                 <div class="panel-body">
		                     <div align= "middle" class="page-header">
		                         <h3> New Quiz</h3>
		                     </div>

							 <div id="question_add">

							 </div>

								<div class="col-md-4" align= "middle">
<%= link_to "Add MCQ" ,'#',{ onclick: 'incrementValue(); return false;' ,:type=>"button",:class => "button btn btn-success btn-default"} %>
				</div>
<div class="col-md-4" align="middle">
<%= link_to "Add True or false",{controller: "quizzes",action: "add_tf"},remote: true ,:type=>"button",:class => "button btn btn-success btn-default"%>
				</div>
<div class="col-md-4" align = "middle">
<%= link_to "Add Essay",{controller: "quizzes",action: "add_essay"},remote: true ,:type=>"button",:class => "button btn btn-success btn-default"%>
				</div>               
				<br> </br>     
				<br> </br>            
							   <!-- till here -->
			<div align="middle">
			<%= button_to "submit", {cou: "asfashfjasf"} ,{:class => "btn btn-primary"} %>
			</div>

                                     <p><br/></p>
		                 </div>
		     </div>
		</div>
		<div class="col-md-4">
				<%= render partial: "forms/quizInfo" %>
		</div>

		                            

	</div>
</div>
</form>


			    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://raw.githubusercontent.com/moment/moment/develop/moment.js"></script>
    <script src="https://raw.githubusercontent.com/moment/moment/master/locale/id.js"></script>
    <script src="https://raw.githubusercontent.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js"></script>
    <script>
    $(function () {
		$('#datetimepicker1').datetimepicker({
		format: 'DD/MM/YYYY'
			
		});
	});
    </script>
	<script>
    $(function () {
		$('#datetimepicker2').datetimepicker({
			format: 'LT'
		});
	});
    </script>
	<script>
    $(function () {
		$('#datetimepicker3').datetimepicker({
			format: 'LT'
		});
	});
    </script>
	

<script>

function incrementValue()
{
    var value = parseInt(document.getElementById('counter1').value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById('counter1').value = value;
    
    var svalue = value.toString();

    var html1 = '<div class="form-group"> <label class="text-inline" id="NewQuestion">Question </label>  <label class="text-inline" > <input name= "mcq_question_mark'+ svalue + '" type="text" class="form-control" placeholder="Question Mark" id="QMark">	 </label>	 <div>	 <textarea name= "mcq_question' + svalue + '" class="form-control" rows="3"></textarea>	 </div> </div><div class="form-group">  <label for="NewAnswer">Answer</label>      <div class="radio">         <label>         <input name= "mcq_answer_ch1' + svalue + '" type="radio" name="optionsRadios" id="optionsRadios1" value="option1">         <textarea name= "mcq_choice1_' + svalue + '" class="form-control" rows="3"></textarea>      </label> </div>	<div class="radio">		<label>			<input name= "mcq_answer_ch2' + svalue + '" type="radio" name="optionsRadios" id="optionsRadios1"value="option1">				<textarea name ="mcq_choice2_' + svalue +'" class="form-control" rows="3"></textarea>		</label>	</div><div><div class="checkbox">     <label class="checkbox-inline">     <input name="mcq_bonus' + svalue +'" type="checkbox" value="">Bouns</label></div><div class="checkbox">	<label class="checkbox-inline">	     <input name="mcq_hint_enable' + svalue + '" type="checkbox" value="">Hint	 </label>		<label class="text-inline" >	     <input name= "mcq_hint_mark' + svalue + '" type="text" class="form-control" placeholder="Hint Mark" id="QhintMark">	</label>	<label class="text-inline" >	     <input name="mcq_hint' + svalue + '" type="text" class="form-control" placeholder="Hint" id="Qhint">	</label>	</div>  <br> </br>';

    var d1 = document.getElementById('question_add');
      d1.insertAdjacentHTML('beforeend', html1);    
}


</script>




	

