<!-- navigation bar --> 
	<!-- ------------------------------------------------------------------>
	<div class="col-md-8">
	    <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header">
                    <h3><%=@form.title%></h3>
                </div>

				<form method="post" action="/answers", name="answers1" class="answers2" id="answers3" value="answers4">

				<form method="post" action="/forms/<%=@form.form_id%>/answers/" controller="answers">
				 <!-- for loop according to number of questions from here -->
					<% if @tfs.size>0 %>
					    <div class="form-group" > 
					    	<h4>True or False</h4> 
							 <!--	 appeared if bouns-->	
							<% @tfs.each do |q| %>
							 	<% if q.bonus %> 
									<label class="text-inline" id="NewQuestion"> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Bonus</label>		
								<%end%>							 
								<!-- -->
								<label class="text" >
									 	<%=q.question%>
									 </label>
									 <br></br>
								                 <label for="NewAnswer">Answer</label>
								<div class="radio">
								     <label class="radio-inline">
								         <input type="radio" name=<%=q.question_id%> id="option1 #{<%=q.question_id%>}" value="True"> True
								     </label>
									 <label class="radio-inline">
									     <input type="radio" name=<%=q.question_id%> id="option2 #{<%=q.question_id%>}" value="False"> False
									 </label>
								</div>
						   <!-- <div class="text">
						     <a href="#" class="">
							 <div class="caption" >
							  <h4 class="" onClick="window.open('ViewForm1.html')">Hint 
							  <!-- displayed if is checked 
								 <label class="text-inline" >
								 <input type="text" class="form-control" placeholder="Disabled input here..." disabled id="QhintMark">
								 </label>
								 
								 <!-- 
							  </h4>
							  
	                          </div>
							  </a>
								 
						   </div>
						   <label class="text" >
								 <input type="text" class="form-control" placeholder="Disabled input here..." disabled id="Qhint">
								 </label>
						   <div class="text">
						     <a href="#" class="">
							 <div class="caption" >
							  <h4 class="" onClick="window.open('ViewForm1.html')">Explanation</h4>
	                          </div>
							  </a>
						   </div>
						   <label class="text" >
								 <input type="text" class="form-control" placeholder="Disabled input here..." disabled id="Qexplanation">
								 </label>
						   				

						   <!-- till here -->
						   		<p><br></p>
						    <%end%>
					    </div>
				    <%end%>

				    <!----------------------------------------------------------------- -->

				    <% if @mcqs.size >0 %>
                        <div class="form-group" > 
							<h4>MCQ</h4>
                            <% @mcqs.each do |q|%>
								<!--	 appeared if bouns-->					 
								<% if q.question.bonus %> 
									<label class="text-inline" id="NewQuestion"> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Bonus</label>		
								<%end%>									 
									 <!-- -->
								<label class="text" >
								 	<%=q.question.question%>
								</label>
								<br></br>
                   		        <label for="NewAnswer">Answer</label>
                                	<% q.choices.each do |c| %>
										<div class="radio">
									    	<label class="radio">
									   	 		<input type="radio" name=<%=q.question.question_id%> id="Radio1" value=<%=c.mcq_id%>> <%=c.choice%>
									   	 		<input type="radio" name=<%=q.question.question_id%> id="Radio1" value="<%=c.choice%>"> <%=c.choice%>
										    </label>
										</div>
									<%end%>
								</label>
							<%end%>
						</div>
						
					<%end%> 
														   
<!-- ----------------------------------------------------------------------------------- -->
 <!-- for loop according to number of questions from here -->
 					<% if @essayqs.size > 0 %>
 						<div class="form-group">
                            <label class="text-inline" id="NewQuestion">Essay Questions </label>
                            <br><br>
							<!--	 appeared if bouns-->
							<% @essayqs.each do |q| %>
							 	<% if q.bonus %>						 
							 		<label class="text-inline" id="NewQuestion"> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Bonus</label>	
								<%end%>

								<label class="text" >
								 	<%=q.question%>
								 </label>
								 <br>
								 <!-- 
								 <label class="text-inline" >
								 <input type="text" class="form-control" placeholder="Disabled input here..." disabled id="QMark">
								 </label>
								 
								 
								 <textarea class="form-control" rows="3" placeholder="Disabled input here..." disabled></textarea>
                           </div>
                           <div class="form-group"> -->
                                 <label for="NewAnswer">Answer</label>
								 <textarea class="form-control" rows="3" placeholder="Your Answer..." name=<%=q.question_id%>></textarea>
					 <!--	   </div>
						  
						   <div class="text">
						     <a href="#" class="">
							 <div class="caption" >
							  <h4 class="" onClick="window.open('ViewForm1.html')">Hint 
							  <!-- displayed if is checked 
								 <label class="text-inline" >
								 <input type="text-inline" class="form-control" placeholder="Disabled input here..." disabled id="QhintMark">
								 </label>
								 
								  
							  </h4>
							  
                              </div>
							  </a>
								 
						   </div>
						   <label class="text" >
								 <input type="text" class="form-control" placeholder="Disabled input here..." disabled id="Qhint">
								 </label>
						   <div class="text">
						     <a href="#" class="">
							 <div class="caption" >
							  <h4 class="" onClick="window.open('ViewForm1.html')">Explanation</h4>
                              </div>
							  </a>
						   </div>
						   <label class="text" >
								 <input type="text" class="form-control" placeholder="Disabled input here..." disabled id="Qexplanation">
								 </label>
						   
						   <!-- till here -->
						   		<br><br>
						   	<%end%>
						</div>
					<%end%>   


<!-- ------------------------------------------------------------------------------------ -->

					<% if @numqs.size > 0 %>
 						<div class="form-group">
                            <label class="text-inline" id="NewQuestion">Calculate </label>
                            <br><br>
							<!--	 appeared if bouns-->
							<% @numqs.each do |q| %>
							 	<% if q.bonus %>						 
							 		<label class="text-inline" id="NewQuestion"> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Bonus</label>	
								<%end%>

								<label class="text" >
								 	<%=q.question%>
								 </label>
								 <br>
								 <!-- 
								 <label class="text-inline" >
								 <input type="text" class="form-control" placeholder="Disabled input here..." disabled id="QMark">
								 </label>
								 
								 
								 <textarea class="form-control" rows="3" placeholder="Disabled input here..." disabled></textarea>
                           </div>
                           <div class="form-group"> -->
                                 <label for="NewAnswer">Answer</label>
								 <textarea class="form-control" rows="3" placeholder="Your Answer..." name=<%=q.question_id%>></textarea>
					 <!--	   </div>
						  
						   <div class="text">
						     <a href="#" class="">
							 <div class="caption" >
							  <h4 class="" onClick="window.open('ViewForm1.html')">Hint 
							  <!-- displayed if is checked 
								 <label class="text-inline" >
								 <input type="text-inline" class="form-control" placeholder="Disabled input here..." disabled id="QhintMark">
								 </label>
								 
								  
							  </h4>
							  
                              </div>
							  </a>
								 
						   </div>
						   <label class="text" >
								 <input type="text" class="form-control" placeholder="Disabled input here..." disabled id="Qhint">
								 </label>
						   <div class="text">
						     <a href="#" class="">
							 <div class="caption" >
							  <h4 class="" onClick="window.open('ViewForm1.html')">Explanation</h4>
                              </div>
							  </a>
						   </div>
						   <label class="text" >
								 <input type="text" class="form-control" placeholder="Disabled input here..." disabled id="Qexplanation">
								 </label>
						   
						   <!-- till here -->
						   		<br><br>
						   	<%end%>
						</div>
					<%end%>   

					   <div align="right">
                      <button type="submit"  class="btn btn-primary" > Submit</button>
					 </div>
			    </form>
			</div>
		</div>
	</div>
 <form>
							 




<div class="col-md-4">
    <div class="panel panel-default">
    	<div class="panel-body">
            <div class="page-header">
                <h3>Quiz Info</h3>
            </div>
					 
			<form>
				<div class="form-group" > 
                    <label for="NewQuestion">Title</label>
					<div class="input-group">
                    	<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-pencil"></span>
						</span>
						<input type="text" class="form-control" id="QuizTitle" placeholder="Disabled input here..." disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="NewAnswer">Date</label>
					<div class="input-group date" id="datetimepicker1">
					    <span class="input-group-addon" id="basic-addon2">
						<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type="text" class="form-control" id="QuizDate" placeholder="Disabled input here..." disabled>
                    </div> 
				</div>
				<div class="form-group">
                    <label for="NewAnswer">Time to be Published</label>
					<div class="input-group date" id="datetimepicker2">
                        <span class="input-group-addon" id="basic-addon3">
							<span class="glyphicon glyphicon-time"></span>
						</span>
						<input type="text" class="form-control" id="QuizTime" placeholder="Disabled input here..." disabled
                             </div> 
					</div>
					   
					<div class="form-group">
                        <label for="NewAnswer">Duration</label>
						<div class="input-group date" id="datetimepicker3">
                            <span class="input-group-addon" id="basic-addon4">
								<span class="glyphicon glyphicon-time"></span>
							</span>
							<input type="text" class="form-control" id="QuizDuration" placeholder="Disabled input here..." disabled>
                        </div> 
					</div>
					<div class="form-group">
                        <label for="NewAnswer">Mark</label>
						<div class="input-group date" id="datetimepicker4">
                            <span class="input-group-addon" id="basic-addon5">
								 <span class="glyphicon glyphicon-pencil"></span>
							</span>
							<input type="text" class="form-control" id="QuizMark" placeholder="Disabled input here..." disabled>
                        </div> 
					</div>
    		    </div>
    		</form>
		</div>
	</div>
</div>

